# Python 101

## Selayang Pandang, Whitespace Itu Penting

In [1]:
list_angka = [1, 2, 3, 4, 5, 6]

for angka in list_angka:
    if (angka % 2 == 0):
        print(str(angka) + " adalah genap")
    else:
        print(str(angka) + " adalah ganjil")
        
print("Selesai")

1 adalah ganjil
2 adalah genap
3 adalah ganjil
4 adalah genap
5 adalah ganjil
6 adalah genap
Selesai

## Halo Dunia, Variabel dan Tipe Data

In [2]:
print("Hello world")

Hello world

In [3]:
halo_dunia = "Halo Dunia"
print(halo_dunia)

Halo Dunia

In [4]:
a = 5
b = 6.5
c = True
print(type(halo_dunia),type(a),type(b),type(c))

<class 'str'> <class 'int'> <class 'float'> <class 'bool'>

In [5]:
d = 3 + 4
e = 2 - 1.5
f = 4 ** 4
g = 10 / 5
h = 10 % 2
print(d,e,f,g,h)
print(type(d),type(e), type(f), type(g), type(h))

7 0.5 256 2.0 0
<class 'int'> <class 'float'> <class 'int'> <class 'float'> <class 'int'>

In [6]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

## Lists dan Memanipulasinya

In [15]:
x = [1, 2, 3, 4, 5, 6]
print(len(x))

6

In [16]:
x[:3]

[1, 2, 3]

In [17]:
x[3:]

[4, 5, 6]

In [18]:
x[-2:]

[5, 6]

In [19]:
x.append(9)
x

[1, 2, 3, 4, 5, 6, 9]

In [20]:
y = [10, 11, 12]
list_didalam_list = [x, y]
list_didalam_list

[[1, 2, 3, 4, 5, 6, 9], [10, 11, 12]]

In [21]:
y[1]

11

In [22]:
z = [3, 2, 1]
z.sort()
z

[1, 2, 3]

In [23]:
z.sort(reverse=True)
z

[3, 2, 1]

In [24]:
motor = ['honda', 'kawasaki', 'suzuki']
motor.remove('honda')
motor

['kawasaki', 'suzuki']

In [25]:
motor.pop(0)

'kawasaki'

In [28]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
for car in cars:
    print("Mobilku hari ini adalah " + car.title())

Mobilku hari ini adalah Bmw
Mobilku hari ini adalah Audi
Mobilku hari ini adalah Toyota
Mobilku hari ini adalah Subaru

In [29]:
for i in range(1,5):
    print(i)

1
2
3
4

## Ekspresi Boolean dan IF statement

In [31]:
1 == 3, 1!= 3, 3 > 4, 3 < 1, 9 >= 1 , 4 <= 1

(False, True, False, False, True, False)

In [34]:
1 == 3 and 1!= 3, 1 == 1 and 3 > 1,  9 >= 1 or 4 <= 1

(False, True, True)

In [15]:
print(1 is 3)

False

In [21]:
angka = 1

if angka == 3:
    print("Kok bisa?")
elif angka > 3:
    print("Widih")
else:
    print("Puk puk pasti lebih kecil")

Puk puk pasti lebih kecil

In [35]:
cars = ['audi', 'bmw', 'subaru', 'toyota']
for car in cars:
    if car == 'bmw':
         print(car.upper())
    else:
         print(car.title())

Audi
BMW
Subaru
Toyota

## Tuples

In [19]:
#Tuples adalah list yang yang bersifat tetap (immutable), tuples menggunakan () sedangkan list []
x = (1, 2, 3)
len(x)

3

In [20]:
y = (4, 5, 6)
y[2]

6

In [21]:
tuple_didalam_list = [x, y]
tuple_didalam_list

[(1, 2, 3), (4, 5, 6)]

In [22]:
(age, income) = "32,120000".split(',')
print(age)
print(income)

32
120000

## Dictionaries

In [41]:
# Seperti pemetaan atau table hash dalam bahasa lain, captains = {}
tim_sepakbola = {'persebaya': 'surabaya', 'persija': 'jakarta', 'persib': 'bandung'}
komting = {}
komting["2011"] = "Habib"
komting["2012"] = "Sega"
komting["2013"] = "Ardi"
print(tim_sepakbola)
print(komting)

{'persebaya': 'surabaya', 'persija': 'jakarta', 'persib': 'bandung'}
{'2011': 'Habib', '2012': 'Sega', '2013': 'Ardi'}

In [42]:
print(komting.keys())

dict_keys(['2011', '2012', '2013'])

In [43]:
print(komting.values())

dict_values(['Habib', 'Sega', 'Ardi'])

In [ ]:
for tahun in komting:
    print(tahun + ": " + komting[tahun])
print("")
for key, value in tim_sepakbola.items():
    print("Tim " + key + " bertempat di " + value)

## While loop dan user input

In [45]:
angka = 0
while angka <= 5:
    print(angka)
    angka += 1

0
1
2
3
4
5

In [46]:
input("Hai siapa namamu")

Hai siapa namamuDoni

'Doni'

In [50]:
prompt = "Katakan sesuatu maka aku akan mengulanginya:\n"
prompt += "Masukkan 'keluar' untuk mengakhirinya.\n "
message = ""
while message != 'keluar':
    message = input(prompt)
    print(message)

Katakan sesuatu maka aku akan mengulanginya:
Masukkan 'keluar' untuk mengakhirinya.
 ahhahah
ahhahah
Katakan sesuatu maka aku akan mengulanginya:
Masukkan 'keluar' untuk mengakhirinya.
 terus
terus
Katakan sesuatu maka aku akan mengulanginya:
Masukkan 'keluar' untuk mengakhirinya.
 keluar
keluar

## Pengenalan Fungsi

In [9]:
def pangkat_dua(x):
    return x * x

print(pangkat_dua(2))

4

In [11]:
# Kamu bisa memasukkan fungsi  kedalam parameter
def lakukan_sesuatu(f, x):
    return f(x)

print(lakukan_sesuatu(pangkat_dua, 3))

9

In [12]:
#Fungsi lambda bisa membuat fungsi sederhana dlama satu baris
print(lakukan_sesuatu(lambda x: x * x * x, 3))

27

## Pengenalan Class

In [ ]:
class Kucing():
    def __init__(self, nama, umur):
    self.name = name
    self.age = age

def tidur(self):
    print(self.name.title() + " is now sitting.")

    
def makan(self):
    print(self.name.title() + " rolled over!")

## Import Modul

In [8]:
import numpy as np

A = np.random.normal(25.0, 5.0, 10)
print(A)

[ 28.22942779  26.28872615  24.44513675  31.85967492  32.79046093
  31.81711166  27.07959535  29.07584945  29.47102696  26.42539632]